{{#each this}}

    <semantic-form new-subject-template="http://www.researchspace.org/entity/{{localName}}/{{{{raw}}}}\{{UUID}}{{{{/raw}}}}"
  fields='[
    {{#each kps}}
      "{{iri}}",
    {{/each}}
    "http://www.researchspace.org/instances/fields/EntityType",
    "http://www.researchspace.org/instances/fields/EntityHasLabel",
    "http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation",
    "http://www.researchspace.org/instances/fields/EntityhasConnection"
  ]'>

  <ontodia-entity-metadata
    entity-type-iri="{{iri}}"
    type-iri='http://www.researchspace.org/instances/fields/EntityType'
    label-iri='http://www.researchspace.org/instances/fields/EntityHasLabel'
    image-iri='http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation'
  ></ontodia-entity-metadata>

  <semantic-form-text-input for="http://www.researchspace.org/instances/fields/EntityHasLabel"></semantic-form-text-input>
  <semantic-form-text-input for="http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation"></semantic-form-text-input>

  {{#each kps}}
    {{#if isDatatypeProperty}}
      {{#if isString}}
        <semantic-form-text-input for="{{iri}}"></semantic-form-text-input>
      {{/if}}
      {{#if isDateTime}}
        <semantic-form-datetime-input for='{{iri}}'></semantic-form-datetime-input>
      {{/if}}
    {{/if}}
  {{/each}}

  <button name="submit" class="btn btn-sm btn-success">Save</button>
  <button name="reset" class="btn btn-sm btn-default">Reset</button>
  <button name="cancel" class="btn btn-sm btn-danger pull-right">Cancel</button>
</semantic-form>

{{/each}}
